<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.incture.oneapp" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainSplashScreen"
            >  <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity
            android:name=".FirstMain"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".likeminds.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".likeminds.LandingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".likeminds.UnifiedPostActivity"
            android:label="Create Post"
            android:parentActivityName=".likeminds.LandingActivity" >
        </activity>
        <activity
            android:name=".likeminds.ProfileViewActivity"
            android:label="Group"
            android:parentActivityName=".likeminds.LandingActivity" >
        </activity>
        <activity
            android:name=".likeminds.UserProfile"
            android:label="Group"
            android:parentActivityName=".likeminds.LandingActivity" >
        </activity>
        <!--<activity
            android:name=".leaveapp.MainActivity"
            android:label="@string/app_name" />-->
        <activity android:name=".leaveapp.activity.Notifications" />
        <activity android:name=".leaveapp.activity.Reports" />
        <activity android:name=".leaveapp.activity.Leave_history" />
        <activity android:name=".leaveapp.activity.Landing_page" />
        <activity android:name=".leaveapp.activity.Holiday_Calendaar" />
        <activity android:name=".leaveapp.activity.ApplyLeavePage" />
        <activity android:name=".timesheet.MainActivity_Timesheet"
            android:label="@string/app_name" />
        <activity android:name=".timesheet.Months" />
        <activity android:name=".timesheet.MonthView" />
        <activity android:name=".timesheet.WeekView" >
        </activity>
        <activity
            android:name=".timesheet.Notifications"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".tacquisition.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".tacquisition.JobDescription" />
        <activity android:name=".tacquisition.Search" />
        <activity android:name=".tacquisition.Forward" />
        <activity android:name=".tacquisition.AdvanceSearch" />
        <activity android:name=".tacquisition.Filters" />
        <activity android:name=".tacquisition.JobRequest" />
        <activity android:name=".tacquisition.Attach" />
        <activity android:name=".tacquisition.UserProfile" />
        <activity android:name=".tacquisition.Preferences" />
        <activity android:name=".tacquisition.Evaluated" />
        <activity android:name=".tacquisition.SavedJobs" />
        <activity android:name=".tacquisition.Help" />
        <activity android:name=".tacquisition.Shortlisted" />
        <activity android:name=".tacquisition.Rejected" />
        <activity android:name=".tacquisition.OnHold" />
        <activity android:name=".tacquisition.Setting" />

    </application>

</manifest>
